* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#main-banner {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/1.jpg");
  height: 950px;
  width: 100dvw;
  background-size: 100% 100%;
  background-position: center;
}
@media (max-width: 700px) {
  #main-banner {
    height: 100dvh;
    min-height: 620px;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/1-2.jpg");
    background-size: 100% 100%;
    background-position: center;
  }
}
@media (max-width: 700px) {
  #main-banner nav {
    width: 100%;
  }
}
#main-banner .nav-container {
  display: flex;
  height: 60%;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 10;
}
#main-banner .nav-container-navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-banner .nav-container-navbar li {
  display: flex;
  align-items: flex-start;
  width: 150px;
}
#main-banner .nav-container-navbar li a {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: #181920;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
#main-banner .nav-container-navbar li a:hover {
  color: #000;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
}
#main-banner .nav-container-navbar li #home_menu {
  font-size: 1.2rem;
  margin-right: 10px;
}
#main-banner .nav-container-navbar #acao-down {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  height: 25px;
  margin-left: 10px;
  margin-top: -5px;
}
#main-banner #menu_mobile, #main-banner .nav_mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  #main-banner .nav-container, #main-banner .nav-container-navbar, #main-banner #acao-down {
    display: none;
  }
  #main-banner #menu_mobile {
    overflow: hidden;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    top: 10px;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40px;
    z-index: 10;
  }
  #main-banner #menu_mobile .nav_mobile {
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
    transition: font-size 0.5s;
  }
  #main-banner #menu_mobile .nav_mobile a {
    color: black;
  }
  #main-banner #menu_mobile .nav_mobile a:hover {
    color: red;
  }
  #main-banner #menu_mobile .nav_mobile a i:hover {
    font-size: 1.8rem;
  }
  #main-banner #menu_mobile .nav_mobile a img {
    margin-top: 5px;
    width: 20px;
    height: 25px;
  }
}
#main-banner .enrollment {
  position: relative;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  #main-banner .enrollment {
    top: 15px;
  }
}
#main-banner .enrollment-content {
  display: flex;
  flex-direction: column;
}
#main-banner .enrollment-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 14px;
}
@media (max-width: 700px) {
  #main-banner .enrollment-content h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
#main-banner .enrollment-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  width: 25vw;
  transition: transform 0.4s;
  gap: 16px;
  padding: 0 44px 34px 44px;
}
@media (max-width: 700px) {
  #main-banner .enrollment-info {
    margin-top: 0.5rem;
    width: 200px;
    height: 150px;
  }
}
#main-banner .enrollment-info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#main-banner .enrollment-info a img {
  margin-top: 2rem;
  width: 5vw;
}
@media (max-width: 700px) {
  #main-banner .enrollment-info a img {
    width: 8vw;
    margin-top: 1rem;
  }
}
#main-banner .enrollment-info a p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 700px) {
  #main-banner .enrollment-info a p {
    width: 100%;
    font-size: 0.8rem;
  }
}
#main-banner .enrollment-info:hover {
  transform: scale(1.1);
}
#main-banner .link {
  position: relative;
  top: 2rem;
}
#main-banner .link .link-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 14px;
}
@media (max-width: 700px) {
  #main-banner .link .link-content h2 {
    font-size: 1rem;
    margin-bottom: 7px;
  }
}
#main-banner .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-banner .links .links-info {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: transform 0.5s;
}
@media (max-width: 700px) {
  #main-banner .links .links-info {
    width: 200px;
    height: 150px;
    flex: 1;
  }
}
#main-banner .links .links-info a {
  text-align: center;
}
#main-banner .links .links-info a img {
  width: 10vw;
}
#main-banner .links .links-info a p {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
@media (max-width: 700px) {
  #main-banner .links .links-info a p {
    font-size: 0.7rem;
  }
}
#main-banner .links .links-info:hover {
  transform: scale(1.1);
  z-index: 1;
}

@keyframes slides {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
footer {
  background-color: #1d1d1d;
  color: #8b8e94;
  padding: 3rem 2rem;
  z-index: 1;
}
footer .wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
@media (max-width: 700px) {
  footer .wrap {
    flex-direction: column;
  }
}
footer .wrap .patrocinadores {
  border-bottom: 1px solid white;
}
footer .wrap .patrocinadores .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}
footer .wrap .patrocinadores .logos:hover .logos-slide {
  animation-play-state: paused;
}
footer .wrap .patrocinadores .logos .logos-slide {
  display: inline-block;
  animation: 15s slides infinite linear;
}
footer .wrap .patrocinadores .logos .logos-slide img {
  height: 70px;
  margin: 0 40px;
}
footer .wrap .realizacao-card {
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}
@media (max-width: 700px) {
  footer .wrap .realizacao-card {
    flex-direction: column;
  }
}
footer .wrap .realizacao-card img {
  width: 200px;
}
footer #seds-card {
  width: 100px;
  height: 40px;
}
footer .footer-container {
  max-width: 1200px;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 700px) {
  footer .footer-container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-container .footer-title {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (max-width: 700px) {
  footer .footer-container .footer-title {
    text-align: center;
    width: 100%;
  }
}
footer .footer-container p {
  margin-top: 0.5rem;
}
@media (max-width: 700px) {
  footer .footer-container p {
    text-align: center;
  }
}
footer .footer-image {
  background: url(../img/footer.png);
  width: 55px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 0.4s;
}
@media (max-width: 700px) {
  footer .footer-image {
    margin-top: 2rem;
  }
}
footer .footer-image:hover {
  transform: scale(1.2);
  filter: grayscale(0);
}/*# sourceMappingURL=enrollment.css.map */