@import '_variables'
@import '_utilities'
@include reset

#main-banner
    background: url('../img/1.jpg')
    height: 100dvh
    background-size: 100% 100%
    background-position: center
    max-height: 600px
    @include mobile
        max-height: 100dvh
        background: url('../img/1-2.jpg')
        background-size: 100% 100%
        background-position: center 
        
    nav
         @include mobile
            width: 100%

    .nav-container
        display: flex
        height: 60%
        align-items: flex-start
        justify-content: center
        position: fixed
        top: 20px
        right: 10px
        z-index: 10
        @include mobile
            

    .nav-container-navbar
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center


        li
            display: flex
            align-items: flex-start
            width: 150px

            a
                width: 100%
                background: rgba(255,255,255, 0.6 )
                color: $dark-color
                font-size: 0.8rem
                text-align: center
                font-weight: bold
                padding: 10px 20px
                text-transform: uppercase
                transition: 0.3s ease              
                &:hover
                    color: $black
                    border-bottom: 2px solid #fff
                    background-color: rgba(255,255,255, 0.3 )
        #acao-down
            margin: 0
            padding: 0
            position: absolute
            width: 15px
            height: 25px
            margin-left: 10px
            margin-top: -5px

    #menu_mobile, .nav_mobile
        display: none
    
    @media screen and (max-width: 800px)
        .nav-container, .nav-container-navbar, #acao-down
            display: none
        
        #menu_mobile
            overflow: hidden
            position: fixed
            top: 10px
            right: 0
            height: 100px
            display: flex
            flex-direction: column
            gap: 8px
            width: 40px
            transition: width 0.4s
            z-index: 10

            .nav_mobile
                margin: 8px 8px
                display: flex
                flex-direction: column
                a
                    color: black
                    &:hover
                        color: red

                    img
                        margin-top: 5px
                        width: 20px
                        height: 25px
    
    .carrosel
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid black
        width: 100vw
        height: 100vh

        .slide
            img
                border: 2px solid black
                width: 400px
                height: 300px

//CSS pagina Objetivo
.objetivo-container
    height: 100dvh
    width: 100dvw
    position: absolute
    top: 0
    left: 0
    display: flex
    background-color: rgba(255,255,255, 0.6 )
    @include mobile
        width: 99.5vw 
        flex-direction: column
        align-items: center
        padding: 0
        margin: 0

    .objetivo-container-texto
        flex: 1
        margin-left: 5rem
        width: 90%
        @include mobile
            margin-left: 0
            display: flex
            flex-direction: column
            align-items: center
            width: 95%

        h2
            padding-top: 0.5rem
            width: 200px
            @extend %section-title
            border-radius: 5px
            @include mobile
                padding-top: 0.8rem
                padding-bottom: 0.8rem
                font-size: 1rem
        
        p
            width: 75%
            margin: 3rem
            color: $black
            font-size: 1rem
            font-weight: bold  
            text-align: justify
            margin-left: 0
            @include mobile
                width: 100%
                margin: 0
                padding-top: 1rem
                font-size: 0.9rem
    .objetivo-foto
        flex: 1
        img
            width: 350px
            height: 450px
            margin-top: 5rem
        @include mobile
            img
                margin-top: 0
                width: 200px
                height: 250px


// fim Objetivo
//página de Atividades
.atividade
    height: 100dvh
    position: absolute
    top: 0
    left: 0
    background: rgba(255,255,255,0.6 )
    .atividade-texto
        text-align: left
        padding-top: 4rem
        padding-left: 2rem
        margin-top: -4rem
        @include mobile
            display: flex
            justify-content: center
            text-align: center
            padding-left: 0

        h2
            @extend %section-title
            width: 200px
            border-radius: 10px
            @include mobile
                margin-top: 1rem
                font-size: 0.9rem

    .atividade-foto
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 0
        padding: 0
        @include mobile
            flex-direction: row
            align-items: center
            justify-content: center
        
        .atividade-foto-1
            display: flex
            flex: 1
            justify-content: center
            img
                width: 200px
                height: 200px
                margin: 1rem
            @include mobile
                margin-top: 1rem
                margin-bottom: 1rem
                img
                    width: 150px
                    height: 150px
                    margin: 1rem

        .atividade-foto-2
            display: flex
            flex: 1
            justify-content: center
            img
                width: 200px
                height: 200px
                margin: 1rem
            @include mobile
                margin-top: 1rem
                margin-bottom: 1rem
                img
                    width: 150px
                    height: 150px
                    margin: 1rem
    @media screen and (max-width: 875px)
        .atividade-foto, .atividade-foto-1, .atividade-foto-2
            display: none

    .atividade-container
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: -3rem
        @include mobile
            flex-direction: column
            margin-top: -1.5rem

    .atividade-container-texto
        flex: 1
        margin: 1rem
        @include mobile
            width: 90%
            display: flex
            flex-direction: column
            align-items: center
            margin-top: 0

        h3
            @extend %section-title
            width: 200px
            border-radius: 5px
            font-size: 1.1rem
            @include mobile
                width: 150px
                font-size: 0.8rem

        #equipamentos
            width: 300px
            @include mobile
                width: 250px
                margin-top: 0
        #paragrafo-equipamentos
            font-size: 0.8rem
        
        #convivio
            width: 250px
            @include mobile
                width: 200px
                margin-top: 0
        #acaosocial_texto
            @include mobile
                margin-top: 0

        p
            font-size: 1.1rem
            margin-top: 1rem
            font-weight: bold
            text-align: justify
            @include mobile
                font-size: .8rem
            

//fim Atividades

//página Ação Social

.acao-social
    position: absolute
    height: 100dvh
    top: 0
    left: 0
    background: rgba(255,255,255,0.5)
    display: flex
    flex-direction: column
    @include mobile
        flex-direction: column

        
    .acao-social-h3
        @extend %section-title
        width: 200px
        font-size: 1rem
        border-radius: 5px
        margin: 1rem
        margin-top: 6.5rem
        @include mobile
            margin: 1rem auto
            margin-top: 7rem

    .acao-social-texto
        width: 45%
        margin: 2rem
        text-align: justify
        font-weight: bold
        @include mobile
            width: 90% 
            margin: 0 auto


//fim Ação Social

.services-container
    background: linear-gradient(rgba(0,0,0,0.8 ), rgba(0,0,0,0.8)), url('../img/eagle.jpg')
    height: 100dvh
    background-size: 100% 100%
    background-attachment: fixed
    text-align: left
    padding: 2rem
    max-height: 600px
    z-index: 99
    @include mobile
        max-height: 100dvh
        background: linear-gradient(rgba(0,0,0,0.8 ), rgba(0,0,0,0.8)), url('../img/eagle-2.png')
        background-attachment: fixed
        background-position: center
        display: flex
        align-items: center
        flex-direction: column
        background-size: cover
        padding: 0
        height: 900px

    h2
        width: 250px
        @extend %section-title
        border-radius: 5px
        margin-top: 0
        @include mobile
            margin-top: 0.5rem
            margin-bottom: 0.5rem
            

    .services-card-container
        margin-bottom: 1rem
        display: flex
        justify-content: space-around
        padding: 2rem
        @include mobile
            flex-direction: column
            align-items: center
            width: 100%
            height: 100%
            padding: 0
    
    .sobre-evento
        background: url(../img/sobre-evento.png)
        width: 20vw
        height: 80vh
        background-size: contain
        background-repeat: no-repeat
        margin-top: 2rem
        @include mobile
            background-size: cover
            width: 60vw
            height: 40vh
            margin-bottom: 2rem

    .services-card
        width: 60%
        height: 70vh
        margin: 1%
        padding: 3rem
        margin-top: -5rem
        @include mobile
            margin-top: 5rem
            width: 90%
            padding: 0
            display: flex
            flex-direction: column
            align-items: center
        


        h3
            font-size: 2rem
            width: 350px
            text-align: center
            border-radius: 5px
            background-color: $light-color
            text-transform: uppercase
            text-shadow: 1px 1px 3px $dark-color
            margin-bottom: 1rem
            @include mobile
                font-size: 1.2rem
                width: 220px
                margin-bottom: 0

        p
            color: $light-color
            font-size: 1.2rem
            text-align: justify
            font-weight: bold
            padding-top: 2rem
            margin-left: -5rem
            @include mobile
                width: 100%
                padding-top: 1rem
                font-size: 0.95rem
                margin-left: 0
            
.demonstracao
    height: 100vh
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6 )), url(../img/1.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-attachment: fixed
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 0 auto
    @include mobile
        height: 100dvh
        background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6 )), url(../img/1-2.jpg)
        background-size: 100% 100%
        background-repeat: no-repeat


.local-data
    background: linear-gradient(rgba(255,255,255,0.75 ), rgba(255, 255, 255, 0.75)), url('../img/acude-velho.jpg')
    background-attachment: fixed
    background-size: cover
    padding: 3rem
    max-height: 600px
    @include mobile
        max-height: 100dvh
        background-size: cover
        display: flex
        flex-direction: column
        align-items: center
        padding: 2rem
        margin: 0
        padding: 0

    h2
        width: 200px
        @extend %section-title
        margin: 1.2rem
        border-radius: 5px
        @include mobile
            font-size: 1rem
    
    .local
        max-height: 100%
        display: flex
        margin: 0
        padding: 0
        @include mobile
            height: 100vh
            flex-direction: column
            align-items: center
            width: 100%

        .local-foto
            background: url(../img/local-foto.png)
            width: 65vw
            height: 70vh
            background-size: contain
            background-repeat: no-repeat
            @include mobile
                background-size: cover
                width: 50vw
                height: 35vh


        .local-data-container
            padding-top: 0
            height: 100%
            @include mobile
                display: flex
                flex-direction: column
                align-items: center
                width: 90%

        
        .local-data-container-1
            @include mobile
                display: flex
                align-items: center
                flex-direction: column
                width: 100%
            
            h3
                @extend %section-title
                width: 200px
                margin: 1rem
                border-radius: 5px
                @include mobile
                    font-size: 1rem
                    margin-bottom: 0


        
            p
                width: 70%
                font-size: 1.3rem
                text-align: justify
                margin: 1rem
                color: $black
                font-weight: bold
                @include mobile
                  width: 100%
                  font-size: 1rem
                  margin-top: .5rem 
            .center 
                text-align: justify
                @include mobile
                    text-align: center
                    width: 100%
        
        .material-symbols-outlined
            width: 50px
            display: flex
            flex-direction: column
            align-items: left
            font-size: 3rem
            color: red
            background-color: $light-color
            border: 1px solid $light-color
            border-radius: 10px
            margin-left: 2rem
            @include mobile
                margin: 0
                display: flex

footer
    background-color: $footer-bg
    color: $text-color
    padding: 3rem 2rem
    z-index: 1

    .wrap
        display: flex
        flex-direction: column
        border-bottom: 1px solid white
        @include mobile
            flex-direction: column
        
        .patrocinadores
            border-bottom: 1px solid white

        .realizacao-card
            display: flex
            flex-direction: columns
            justify-content: space-around
            align-items: center
            gap: 20px
            padding: 2rem
            @include mobile
                flex-direction: column

            img
                width: 200px
                
    #seds-card
        width: 100px
        height: 40px

    .footer-container
        max-width: 1200px
        margin: 10px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include mobile
            max-width: 100%
            justify-content: center
            flex-direction: column
            align-items: center

        .footer-title
            color: #FFF
            font-weight: bold
            margin-bottom: 1rem
            @include mobile
                text-align: center
                width: 100%
        
        p
            margin-top: 0.5rem
            @include mobile
                text-align: center

    
    .footer-image    
        background: url(../img/footer.png)
        width: 55px
        height: 70px
        background-size: contain
        background-repeat: no-repeat
        filter: grayscale(1.0)
        transition: 0.4s 
        @include mobile
            margin-top: 2rem
        
        &:hover
            transform: scale(1.2)
            filter: grayscale(0)


