* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.local-data .local .local-data-container-1 h3, .local-data .local-data-evento h2, .services-container .services h2, .acao-social .acao-social-texto h3, .atividade .atividade-container-texto h3, .atividade .atividade-texto h2, .objetivo-container .objetivo-container-texto h2 {
  font-size: 1.2rem;
  background-color: #181920;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #181920;
  padding: 0.4rem 0.7rem;
  color: #FFF;
}

#main-banner {
  background: url("../img/1.jpg");
  height: 100dvh;
  width: 100dvw;
  background-size: 100% 100%;
  background-position: center;
}
@media (max-width: 700px) {
  #main-banner {
    height: 100dvh;
    min-height: 752px;
    background: url("../img/1-2.jpg");
    background-size: 100% 100%;
    background-position: center;
  }
}
@media (max-width: 700px) {
  #main-banner nav {
    width: 100%;
  }
}
#main-banner .nav-container {
  display: flex;
  height: 60%;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 10;
}
#main-banner .nav-container-navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-banner .nav-container-navbar li {
  display: flex;
  align-items: flex-start;
  width: 150px;
}
#main-banner .nav-container-navbar li a {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: #181920;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
#main-banner .nav-container-navbar li a:hover {
  color: #000;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
}
#main-banner .nav-container-navbar #acao-down {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  height: 25px;
  margin-left: 10px;
  margin-top: -5px;
}
#main-banner #menu_mobile, #main-banner .nav_mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  #main-banner .nav-container, #main-banner .nav-container-navbar, #main-banner #acao-down {
    display: none;
  }
  #main-banner #menu_mobile {
    overflow: hidden;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    top: 10px;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40px;
    z-index: 10;
  }
  #main-banner #menu_mobile .nav_mobile {
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
    transition: font-size 0.5s;
  }
  #main-banner #menu_mobile .nav_mobile a {
    color: black;
  }
  #main-banner #menu_mobile .nav_mobile a:hover {
    color: red;
  }
  #main-banner #menu_mobile .nav_mobile a i:hover {
    font-size: 1.8rem;
  }
  #main-banner #menu_mobile .nav_mobile a img {
    margin-top: 5px;
    width: 20px;
    height: 25px;
  }
}
#main-banner .carrosel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 25px;
  position: relative;
  width: 40vw;
  height: 100vh;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
@media (max-width: 700px) {
  #main-banner .carrosel {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 80px;
  }
}
#main-banner .carrosel .slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: grab;
}
#main-banner .carrosel .slide img {
  width: 40vw;
  height: 60vh;
}
@media (max-width: 700px) {
  #main-banner .carrosel .slide img {
    width: 250px;
    height: 250px;
  }
}
#main-banner .carrosel .slide:active {
  cursor: grabbing;
}
@media screen and (max-width: 600px) {
  #main-banner .btn-carrosel {
    display: none;
  }
}
#main-banner .card-inscricao {
  position: absolute;
  left: 75px;
  bottom: 70px;
  width: 50px;
  height: 15px;
}
#main-banner .card-inscricao span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  font-size: 2rem;
  color: #000;
}
#main-banner .card-inscricao span p {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
}
#main-banner .card-inscricao span p:hover {
  color: #ff5200;
}
#main-banner .card-inscricao span:hover {
  color: #ff5200;
  animation: zoom-icons 1s linear normal;
}

@keyframes zoom-icons {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.objetivo-container {
  height: 100dvh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 700px) {
  .objetivo-container {
    width: 99.9vw;
    min-height: 752px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.objetivo-container .objetivo-container-texto {
  flex: 1;
  margin-left: 5rem;
  width: 90%;
}
@media (max-width: 700px) {
  .objetivo-container .objetivo-container-texto {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}
.objetivo-container .objetivo-container-texto h2 {
  padding-top: 0.5rem;
  width: 200px;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .objetivo-container .objetivo-container-texto h2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1rem;
  }
}
.objetivo-container .objetivo-container-texto p {
  width: 75%;
  margin: 3rem;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  margin-left: 0;
}
@media (max-width: 700px) {
  .objetivo-container .objetivo-container-texto p {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
}
.objetivo-container .objetivo-foto {
  flex: 1;
}
.objetivo-container .objetivo-foto img {
  width: 350px;
  height: 450px;
  margin-top: 5rem;
}
@media (max-width: 700px) {
  .objetivo-container .objetivo-foto img {
    margin-top: 2rem;
    width: 200px;
    height: 250px;
  }
}

.atividade {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}
@media (max-width: 700px) {
  .atividade {
    min-height: 752px;
  }
}
.atividade .atividade-texto {
  text-align: left;
  padding-top: 4rem;
  padding-left: 2rem;
  margin-top: -5rem;
}
@media (max-width: 700px) {
  .atividade .atividade-texto {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
}
.atividade .atividade-texto h2 {
  width: 200px;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .atividade .atividade-texto h2 {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}
.atividade .atividade-foto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  padding: 0;
}
@media (max-width: 700px) {
  .atividade .atividade-foto {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.atividade .atividade-foto .atividade-foto-1 {
  display: flex;
  flex: 1;
  justify-content: center;
}
.atividade .atividade-foto .atividade-foto-1 img {
  width: 200px;
  height: 200px;
  margin: 1rem;
}
@media (max-width: 700px) {
  .atividade .atividade-foto .atividade-foto-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .atividade .atividade-foto .atividade-foto-1 img {
    width: 150px;
    height: 150px;
    margin: 1rem;
  }
}
.atividade .atividade-foto .atividade-foto-2 {
  display: flex;
  flex: 1;
  justify-content: center;
}
.atividade .atividade-foto .atividade-foto-2 img {
  width: 200px;
  height: 200px;
  margin: 1rem;
}
@media (max-width: 700px) {
  .atividade .atividade-foto .atividade-foto-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .atividade .atividade-foto .atividade-foto-2 img {
    width: 150px;
    height: 150px;
    margin: 1rem;
  }
}
@media screen and (max-width: 410px) {
  .atividade .atividade-foto, .atividade .atividade-foto-1, .atividade .atividade-foto-2 {
    display: none;
  }
}
.atividade .atividade-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -3rem;
}
@media (max-width: 700px) {
  .atividade .atividade-container {
    flex-direction: column;
    margin-top: -1.5rem;
  }
}
.atividade .atividade-container-texto {
  flex: 1;
  margin: 1rem;
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}
.atividade .atividade-container-texto h3 {
  width: 200px;
  border-radius: 5px;
  font-size: 1.1rem;
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto h3 {
    width: 150px;
    font-size: 0.8rem;
  }
}
.atividade .atividade-container-texto #equipamentos {
  width: 300px;
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto #equipamentos {
    width: 250px;
    margin-top: 0;
  }
}
.atividade .atividade-container-texto #paragrafo-equipamentos {
  font-size: 0.8rem;
}
.atividade .atividade-container-texto #convivio {
  width: 250px;
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto #convivio {
    width: 200px;
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto #acaosocial_texto {
    margin-top: 0;
  }
}
.atividade .atividade-container-texto p {
  font-size: 1.1rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: justify;
}
@media (max-width: 700px) {
  .atividade .atividade-container-texto p {
    font-size: 0.8rem;
  }
}

.acao-social {
  position: absolute;
  height: 100dvh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
}
@media (max-width: 700px) {
  .acao-social {
    flex-direction: column;
    min-height: 752px;
  }
}
.acao-social .acao-social-texto {
  flex: 1;
}
.acao-social .acao-social-texto h3 {
  width: 200px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 1rem;
  margin-top: 6.5rem;
}
@media (max-width: 700px) {
  .acao-social .acao-social-texto h3 {
    margin: 1rem auto;
    margin-top: 4rem;
  }
}
.acao-social .acao-social-texto p {
  width: 80%;
  margin: 2rem;
  text-align: justify;
  font-weight: bold;
}
@media (max-width: 700px) {
  .acao-social .acao-social-texto p {
    width: 90%;
    font-size: 0.9rem;
    margin: 0 auto;
    padding-bottom: -5rem;
  }
}
.acao-social .acao-social-video {
  flex: 1;
  margin: auto;
  padding-left: 7rem;
}
@media (max-width: 700px) {
  .acao-social .acao-social-video {
    padding-left: 0;
    margin-top: -7rem;
  }
}

.services-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/eagle.jpg");
  height: 100dvh;
  width: 100dvw;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: left;
  padding: 2rem;
}
@media (max-width: 700px) {
  .services-container {
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/eagle-2.png");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    padding: 0;
  }
}
.services-container .services {
  max-width: 75%;
  margin: auto;
  padding-top: 2rem;
}
@media (max-width: 700px) {
  .services-container .services {
    padding-top: 0;
  }
}
.services-container .services h2 {
  width: 250px;
  border-radius: 5px;
  margin-top: 0;
}
@media (max-width: 700px) {
  .services-container .services h2 {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
}
.services-container .services .services-card-container {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .services-container .services .services-card-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.services-container .sobre-evento img {
  width: 20vw;
  height: 55vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2rem;
}
@media (max-width: 700px) {
  .services-container .sobre-evento img {
    background-size: cover;
    width: 60vw;
    height: 40vh;
    margin-bottom: 2rem;
  }
}
.services-container .services-card {
  width: 90%;
  height: 70vh;
  margin-left: 3rem;
  padding: 3rem;
  margin-top: 0;
}
@media (max-width: 700px) {
  .services-container .services-card {
    margin-top: -1rem;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.services-container .services-card h3 {
  font-size: 2rem;
  width: 18vw;
  text-align: center;
  border-radius: 5px;
  background-color: #FFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #181920;
  margin-bottom: 1rem;
}
@media (max-width: 700px) {
  .services-container .services-card h3 {
    font-size: 1.2rem;
    width: 220px;
    margin-bottom: 0;
  }
}
.services-container .services-card p {
  width: 55vw;
  color: #FFF;
  font-size: 1rem;
  text-align: justify;
  font-weight: bold;
  padding-top: 2rem;
  margin-left: -5rem;
}
@media (max-width: 700px) {
  .services-container .services-card p {
    width: 100%;
    padding-top: 1rem;
    font-size: 0.95rem;
    margin-left: 0;
  }
}

.demonstracao {
  height: 100dvh;
  width: 100dvw;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .demonstracao {
    min-height: 652px;
    height: 100dvh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/1-2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.local-data {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../img/acude-velho.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  padding: 3rem;
  margin: auto;
}
@media (max-width: 700px) {
  .local-data {
    height: 100dvh;
    min-height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
    padding: 0;
  }
}
.local-data .local-data-evento {
  max-width: 80%;
  margin: auto;
}
.local-data .local-data-evento h2 {
  width: 200px;
  margin: 1.2rem;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .local-data .local-data-evento h2 {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
.local-data .local {
  max-height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 700px) {
  .local-data .local {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.local-data .local .local-foto img {
  width: 35vw;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  .local-data .local .local-foto img {
    background-size: cover;
    width: 200px;
    height: 180px;
  }
}
.local-data .local .local-data-container {
  padding-top: 0;
  height: 100%;
}
@media (max-width: 700px) {
  .local-data .local .local-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .local-data .local .local-data-container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.local-data .local .local-data-container-1 h3 {
  width: 200px;
  margin: 1rem;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .local-data .local .local-data-container-1 h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.local-data .local .local-data-container-1 p {
  width: 70%;
  font-size: 1rem;
  text-align: justify;
  margin: 1rem;
  color: #000;
  font-weight: bold;
}
@media (max-width: 700px) {
  .local-data .local .local-data-container-1 p {
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
.local-data .local .local-data-container-1 .center {
  text-align: justify;
}
@media (max-width: 700px) {
  .local-data .local .local-data-container-1 .center {
    text-align: center;
    width: 100%;
  }
}
.local-data .local .material-symbols-outlined {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 3rem;
  color: red;
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
  margin-left: 2rem;
}
@media (max-width: 700px) {
  .local-data .local .material-symbols-outlined {
    margin: 0;
    display: flex;
  }
}

@keyframes slides {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
footer {
  background-color: #1d1d1d;
  color: #8b8e94;
  padding: 3rem 2rem;
  z-index: 1;
}
footer .wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
@media (max-width: 700px) {
  footer .wrap {
    flex-direction: column;
  }
}
footer .wrap .patrocinadores {
  border-bottom: 1px solid white;
}
footer .wrap .patrocinadores .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}
footer .wrap .patrocinadores .logos:hover .logos-slide {
  animation-play-state: paused;
}
footer .wrap .patrocinadores .logos .logos-slide {
  display: inline-block;
  animation: 15s slides infinite linear;
}
footer .wrap .patrocinadores .logos .logos-slide img {
  height: 70px;
  margin: 0 40px;
}
footer .wrap .realizacao-card {
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}
@media (max-width: 700px) {
  footer .wrap .realizacao-card {
    flex-direction: column;
  }
}
footer .wrap .realizacao-card img {
  width: 200px;
}
footer #seds-card {
  width: 100px;
  height: 40px;
}
footer .footer-container {
  max-width: 1200px;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 700px) {
  footer .footer-container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-container .footer-title {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (max-width: 700px) {
  footer .footer-container .footer-title {
    text-align: center;
    width: 100%;
  }
}
footer .footer-container p {
  margin-top: 0.5rem;
}
@media (max-width: 700px) {
  footer .footer-container p {
    text-align: center;
  }
}
footer .footer-image {
  background: url(../img/footer.png);
  width: 55px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 0.4s;
}
@media (max-width: 700px) {
  footer .footer-image {
    margin-top: 2rem;
  }
}
footer .footer-image:hover {
  transform: scale(1.2);
  filter: grayscale(0);
}/*# sourceMappingURL=styles.css.map */